<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cadastrHora.css">
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-1" id="navb">
            <section>
                <%- include('./partials/navbar.ejs') %>
            </section>
            <!-- Conteúdo da Navbar -->
        </div>
        <div class="col-md-6 top-spacing" id="central">

        </div>
        <div class="col-md-5" id="final">
            
        </div>
        
    </div>
</body>
<%- include('./partials/footer.ejs') %>