
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container ">
        <div class="text-center">
            <h1>Login</h1>
        </div>
        <form method="post" action="/verificarUsuario">
            <div class="md-6">
                <label for="campoTexto" class="form-label">Email</label>
                <input type="text" class="form-control" id="campoTexto" name="user" placeholder="Digite algo...">
            </div>
            <div class="md-6">
                <label for="campoNumber" class="form-label">Senha</label>
                <input type="password" class="form-control" id="campoNumber" name="password" placeholder="Digite algo...">
            </div>
            <div class="forgotPassword">
                <a href="/esqueceu-senha">Esqueceu a senha?</a>
                <br>
                <a href="/cadastre-se">Novo usuário? Cadastre-se !</a>
            </div>
            <div id="btn" class="text-center">
                <br>
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
        <% if( alertUser==true) { %>
            <script>
                alert("Usuario não cadastrado")
            </script>

            <% }else {%>

            <% if( alertPass==true) { %>
                <script>
                    alert("Senhas Incorreta")
                </script>
            <% }} %>  
    </div>
</body>
<%- include('./partials/footer.ejs') %>