.navbar{
    width: 8.33%;
    height: 100vh;
    background-color: #0F181F;
    
}
.container-central{
    height: 100vh;
}
.row{
    height: 100vh;
    
} 
#container-central{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
    flex-direction: column;
}
#container-finish{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-all;
}       

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
#formButton{
    margin: 0.5rem;
    border-radius: 11px;
    width: 4rem;
}

.diasSemana{
    margin-bottom: 2rem;
}
#showTable{
    margin-top: 8rem;

}

.container-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 45vw;
    text-align: center;
}
.container-table ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 767px){
    .container-table{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        width: 100vw;
    }
    .navbar.navbar-expand-lg.navbar-dark{
        min-height: 60px;
    }
    #navb{
        position: absolute;

    }
    .navbar{
        width: 100vw;
        height: 10vh;
    }
    #navbar{
        width: 100vw;
        height: 10vh; 

    }
    #navDropbox{
        background-color: #0F181F;
        width: 25vw;
        padding: 2vw;
        margin-top: 1vh;
    }
    .container-fluid{
        margin-top: 10vh;
    }
    #container-central{
        width: 100vw;
    }
    #container-finish{
        width: 100vw;
        display: flex;
        align-items: center;
        
    }
}
