.navbar{
    width: 8.33%;
    height: 100vh;
    background-color: #0F181F;
    
}
.container-central{
    height: 100vh;
}
.row{
    height: 100vh;
    
} 
#container-central{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1B242A;
    flex-direction: column;
    color: white;
}
#container-finish{
    background-color: #0F181F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-all;
    color: white;
}       

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.diasSemana{
    margin-bottom: 2rem;
}
#showTable{
    margin-top: 8rem;

}

.container-table{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    width: 45vw;
    text-align: center;
    
    
}
.container-table ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.horariosIda{
    display: flex;
    flex-direction: column;
    color: black;
}
.horariosRetono{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}
.selected-card {
    background-color: #0099FF; /* Cor de fundo quando selecionado */
  }
.card{
    height: 2rem;
    width: 3rem;    
}

@media screen and (max-width: 767px){
    .container-table{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem;
        width: 100vw;
    }
    .navbar.navbar-expand-lg.navbar-dark{
        min-height: 60px;
    }
    #navb{
        position: absolute;

    }
    .navbar{
        width: 100vw;
        height: 10vh;
    }
    #navbar{
        width: 100vw;
        height: 10vh; 

    }
    #navDropbox{
        background-color: #0F181F;
        width: 25vw;
        padding: 2vw;
        margin-top: 1vh;
    }
    .container-fluid{
        margin-top: 10vh;
    }
    #container-central{
        width: 100vw;
    }
    #container-finish{
        width: 100vw;
        display: flex;
        align-items: center;
        
    }
}
.custom-btn{
    margin: 0.5rem;
    border-radius: 11px;
    width: 4rem;
}
.list{
    border-radius: 18px;
}
h5{
    color: white;
    display: flex;
    text-align:top;
    justify-content: center;
    vertical-align: top;
}